/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
background-color: #eee;
}

.navbar-brand {
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  color: white;
}

.comments-wrapper {
	padding: 0;
}

.tips-headers {
	width: 100%;

	table {
		width: 100%;
		table-layout: fixed;
	}

	th {
		padding: 0 7px;
		width: 33.3%;
		margin: 0 auto;
	}

	td {
		overflow-wrap: break-word;
		vertical-align: baseline;
	}
}

.form-title {
	font-size: 16px;
}

















